/* Estilos para la cabecera */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
  background-color: #f8f9e6;
}

.logo-container,
.menu ul {
  display: flex;
  align-items: center;
}

.logotipo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%; 
}

.menu ul {
  list-style: none;
  padding: 0; 
  margin: 0; 
}

.menu ul li {
  margin-right: 50px;
}

.menu ul li a {
  text-decoration: none;
  color: #171f20;
  font-size: 22px;
  transition: color 0.3s, font-weight 0.3s;
}

.menu ul li a:hover {
  color: #328691;
  font-weight: bold;
}
