/* Carrusel.css */
.carrusel {
    text-align: center;
  }

  .carrusel img {
    width: 1700px; /* Ancho deseado */
    height: 400px; /* Alto deseado */

    border-radius: 20px;
  }
  
  #numeroAuto {
    margin-top: 10px;
    font-weight: bold;
  }
  
