/* Estilos para sección turismo */
.seccion-turistica {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f8f9e6;
  max-width: 85%;
  margin: auto;
}
.columna-izquierda {
  flex: 2;
  margin-right: 30px;
}
.columna-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imagen-grande img, .imagen-pequena img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.imagen-grande p,
.imagen-pequena p {
  text-align: left;
  font-weight: bold;
  margin-top: 30px;
  font-size: 25px;
}
