/*estidos del sección turismo*/
.seccion-turistica {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f8f9e6;
}
.columna-izquierda {
  flex: 2;
  margin-right: 30px;
}
.columna-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imagen-grande img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease; /* Aplica el efecto de zoom */

}
.imagen-pequena img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease; /* Aplica el efecto de zoom */
}

.imagen-grande img:hover,
.imagen-pequena img:hover {
  transform: scale(1.1); /* Incrementa el tamaño de la imagen al pasar el mouse */
}

.imagen-grande p,
.imagen-pequena p {
  text-align: left;
  font-weight: bold;
  margin-top: 30px;
  font-size: 25px;
}
