/* Estilos generales */
body {
  background: url('../assets/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: large;
  color: #FFF5E0;
}

.div-padre {
  display: flex;
  justify-content: center;
}

.div-hijo {
  background-color: rgba(126, 2, 2, 0.5);
  padding: 20px;
  border: 2px solid red;
  border-radius: 20px;
  margin: 10px;
}

h1 {
  font-family: "Seymour One", sans-serif;
  font-size: xxx-large;
  margin-bottom: 1px;
  color: #141E46;
}

.ataques-titulo, h2 {
  font-size: xx-large;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjetas {
  display: flex;
  gap: 20px;
}

.tarjetas label {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjetas img {
  width: 100%;
  border-radius: 20px;
}

.tarjetas img:hover {
  border: 3px solid #8DECB4;
}

.tarjetas input {
  display: none;
}

.tarjetas input:checked + label img {
  border: 3px solid #41B06E;
}

.tarjetas input:checked + label div {
  background-color: #41B06E;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
}

/* Botones centrados */
.boton-seleccionar-contenedor {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-reiniciar-contenedor {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.seleccionar-btn {
  width: 200px;
  height: 40px;
  background-color: #41B06E;
  border-radius: 15px;
  border: 2px solid #8DECB4;
  color: #FFF5E0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: large;
}

.seleccionar-btn:hover {
  background-color: rgb(59, 156, 99);
}

.btn-reiniciar {
  width: 100px;
  height: 30px;
  background-color: #00A4CCFF;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: medium;
}

.btn-reiniciar:hover {
  background-color: #007B9F;
}

/* Estilos para batalla y combate */
#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.btn-personalizado {
  width: 150px;
  background-color: #41B06E;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #8DECB4;
  margin: 5px;
  color: #FFF5E0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: large;
}

.btn-personalizado:hover {
  background-color: rgb(59, 156, 99);
}

#resultado {
  background: linear-gradient(to right, rgba(255,48,48,0) 0%, rgba(255,48,48,0.8) 15%, rgba(255,48,48,1) 19%, rgba(255,48,48,1) 20%, rgba(229,0,0,1) 50%, rgba(255,48,48,1) 80%, rgba(255,48,48,1) 81%, rgba(255,48,48,0.8) 85%, rgba(255,48,48,0) 100%);
  padding: 20px;
  margin-bottom: 10px;
}

.batalla {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 100px;
  margin: 10px;
}

.mascota-batallar  {
  width: 150px;
  border-radius: 20px;
  font-size: x-large;
}

@media (max-width: 710px) {
  .tarjetas {
    flex-direction: column;
  }
}
