/* Fondo general de la aplicación */
.aplicacion {
  background-color: #f8f9e6; 
  color: #171f20; 
}
/* Estilos para la cabecera */
header {
  background-color: #f8f9e6; 
  color: #171f20; 
  border-bottom: 2px solid #2d6029; 
  font-size: 28px;
}
/* Estilos para la sección del carrusel */
.seccion-carrusel {
  background-color: #f8f9e6; /* Fondo del carrusel */
  padding: 25px 0;
}
